<div class="row">
    <div class="col-md-12">
        <table class="table quintiles table-condensed">
            <thead>
                <tr>
                    <th class="quintile-row-title">Quintile Share of Total Income</th>
                    <th>1<sup>st</sup> Quintile</th>
                    <th>2<sup>nd</sup> Quintile</th>
                    <th>3<sup>rd</sup> Quintile</th>
                    <th>4<sup>th</sup> Quintile</th>
                    <th>5<sup>th</sup> Quintile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    {{#each quintiles}}
                    <td><input type="text" class="form-control"></td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
        <table class="table quintiles table-condensed">
            <thead>
                <tr>
                    <th class="quintile-row-title">Cumulative Share of Total Income</th>
                    <th>1<sup>st</sup> Quintile</th>
                    <th>2<sup>nd</sup> Quintile</th>
                    <th>3<sup>rd</sup> Quintile</th>
                    <th>4<sup>th</sup> Quintile</th>
                    <th>5<sup>th</sup> Quintile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    {{#each quintiles}}
                    <td>{{percentage this}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
        <a href="#" {{bind-attr class=":btn :btn-default :btn-xs isHidden:hidden"}} {{action 'clearTable'}}>
          <span class="glyphicon glyphicon-trash"></span> Clear and Reset
        </a>
        <a href="#" class="btn btn-primary btn-xs" {{action 'addPath'}}>
          <span class="glyphicon glyphicon-plus"></span> Graph Another Set of Household Incomes
        </a>
    </div>
</div>