$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 30px 0;
}

.income-table {
  tbody > tr > td {
  border-top: none;
  }
  .input-group-addon {
  background-color: #FCFCFC;
  }
}

// Lorenz Charts
svg {
  background-color: white;
}

.lorenz-line {
  stroke: rgb(47, 184, 255);
  stroke-linecap: round;
  stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}