$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 30px 0;
}

.income-table {
  tbody > tr > td {
  border-top: none;
  }
  .input-group-addon {
  background-color: #FCFCFC;
  }
}

.panel > .panel-body + .table, .panel > .panel-body + .table-responsive {
  border-top: none;
}

h3.household-income-table-title {
  margin: 2rem 0 0 0;
  border-top: 1px solid #DDD;
  padding: 2rem 0 0 0;
}

// Lorenz Charts
svg {
  background-color: white;
  width: 100%;
}

.lorenz-line {
  fill: none;
  stroke: rgb(29, 188, 156);
  stroke-linecap: round;
  stroke-width: 3px;
  opacity: 0.8;
  &:nth-child(2n) {
    stroke: rgb(230, 126, 33);
  }
  &:nth-child(3n) {
    stroke: rgb(155, 89, 182);
  }
  &:nth-child(4n) {
    stroke: rgb(231, 76, 60);
  }
  &:nth-child(5n) {
    stroke: rgb(149, 165, 166);
  }
  &:nth-child(6n) {
    stroke: rgb(243, 156, 38);
  }
  &:nth-child(7n) {
    stroke: rgb(46, 204, 113);
  }
  &:nth-child(8n) {
    stroke: rgb(52, 72, 94);
  }
}

.line-of-perfect-equity {
  stroke: rgb(200,200,200);
  stroke-dasharray: 5;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

footer {
  color: #AAA;
}